.containerQuemSomos{
background-color: aquamarine;
height: 85vh;
background-image: url("../../assets/backgroundQuemSomos.png");
background-repeat:no-repeat;
background-size: 100% 85vh;
}

h2 {
  font-size: 26px;
  color: #1e4f8a;
  margin-bottom: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 15px;
  color: #444;
}
