.containerTelaInicial {
 
  display: flex;
  align-items: center;
  justify-content: center;
  div {
  
    width: 45%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h1 {
      font-size: 4rem;
      width: 90%;
      color: #205691;
    }
    p {
      font-size: 1rem;
      width: 75%;
    }
  }

}

@media (min-width: 201px) and (max-width: 500px) {
  .containerTelaInicial {
    
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    div {
   
      width: 90%;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      h1 {
        font-size: 2rem;
        width: 80%;
        
      }
      p {
        font-size: 0.75rem;
        width: 100%;
  
      }
    }
    img {
      width: 70%;
      border-radius: 100%;
    }
  }
}