footer {
  background-color: #205691;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  color: #ffffff;
  div {
 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    h2 {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  p {
   
    width: 25%;
    font-weight: 300;
    text-align: center;
  }
  nav {
    
    width: 15%;
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 201px) and (max-width: 500px) {
  footer {
    flex-direction: column-reverse;
    height: 35vh;
    div {
      width: 60%;
      h2 {
        font-size: 2rem;
        font-weight: 400;
      }
    }
    p {
      width: 90%;
    }
    nav {
      width: 80%;
    }
  }
}
